.page-2 .container {
  height: 100%;
  width: 100%;
}

.page-2 .header {
  height: 8%;
  display: flex;
  justify-content: center;
}

.page-2 .content {
  height: 84%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-2 .footer {
  height: 8%;
  display: flex;
  justify-content: center;
}

.page-2 .wip-wrap {
  padding: 3rem;
  width: fit-content;
  flex-direction: column;
  color: white;
  font-size: 24px;
}

.page-2 .sentence {
  margin-bottom: 0.5rem;
}

.page-2 .wip {
  font-size: 16px;
}